#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    left: 0 !important;
}

.menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}
.menu__item2 {
    display: block;
    padding: 6px 13px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}
.navLi{
    display: flex;
    margin-top: 2em;
    margin-left: 1em;
}
.navLi a i{
   font-size: 25px;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

.hamburger-menu{
    height: 7vh;
    width: 100vw;
    top: 0%;
    background: linear-gradient(to left,rgb(231, 231, 231),white);
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.myName{
    margin: 0px 1em;
    font-size: 1.6em;
    font-weight: 800;
    font-family: monospace;
}
.myName:hover{
    background: linear-gradient(to left, #dc2424, #4a569d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: none;
}
.mover1{
    position: relative;
    margin-top: -.5em;
    height: 10vh;
    width: 1.7vw;
    background-color: rgb(194, 194, 194);
    z-index: 2;
    opacity: 0.2;
    transform: rotate(20deg);
}
.mover2{
    position: relative;
    margin-top: -4em;
    height: 10vh;
    width: 1vw;
    background-color: rgb(211, 211, 211);
    z-index: 2;
    opacity: 0.2;
    transform: rotate(20deg);
}
